/* Variables */

:root {

    /* Colors */

    --clr-orange: hsl(31, 77%, 52%);
    --clr-blue: hsl(184, 100%, 22%);
    --clr-dark-blue: hsl(179, 100%, 13%);
    --clr-gray: hsla(0, 0%, 100%, 0.75);
    --clr-white: hsl(0, 0%, 95%);

    /* Fonts */

    --fs-h1: 36px;
    --fs-p: 18px;
    --fs-a: 16px;
    --fw-regular: 400;
    --fw-bold: 700;
    --ff-p: 'Lexend Deca', sans-serif;
    --ff-h: 'Big Shoulders Display', cursive;

    /* Shadows */

    --shadow: 0px 5px 12px rgba(0, 0, 0, 0.30);

}

/* General attributes */

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Card Styling */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--shadow);
    margin: 50px 35px
}

.card {
    min-width: 300px;
    flex-grow: 1;
    flex-basis: 400px;
    padding: 4em 3em;
}

.card--orange {
    background: var(--clr-orange);
}

.card--blue {
    background: var(--clr-blue);
}

.card--dark-blue {
    background: var(--clr-dark-blue);
}

.card__tittle {
    font-size: var(--fs-h1);
    font-family: var(--ff-h);
    font-weight: var(--fw-bold);
    color: var(--clr-white);
}

.card__paragraph {
    font-size: var(--fs-p);
    font-family: var(--ff-p);
    font-weight: var(--fw-regular);
    color: var(--clr-gray);
}

.card__button {
    text-decoration: none;
    display: inline-block;
    background: var(--clr-white);
    font-family: var(--ff-p);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    border-radius: 30px;
    padding: .75em 2em;
    margin-top: clamp(1em, 5vw, 5em);
    outline: 3px solid var(--clr-white);
    outline-offset: -3px;
    transition: all 150ms;
}

.card__button:hover {
    outline-offset: 0px;
    background: transparent;
    color: var(--clr-white);
}

.card__button--orange {
    color: var(--clr-orange);
}

.card__button--blue {
    color: var(--clr-blue);
}

.card__button--dark-blue {
    color: var(--clr-dark-blue);
}
